.demand_default-style {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  // max-width: 400px;
  // Grid
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-areas: 'logo' 'content';
  // Fonts
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  color: #3e3e3e;
}

.demand__card {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  // max-width: 400px;
  // Grid
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-areas: 'logo' 'content';
  // Fonts
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  color: #3e3e3e;

  &.sm {
    margin: 0px;
    margin-bottom: 30px;
    max-width: 411px;
  }

  .demand__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 320px;
      height: 180px;
    }
  }

  .demand__content {
    .title {
      font-size: 17px;
      font-weight: 500;
    }

    .addons {
      padding: 10px;
    }

    .body {
      color: #737373;
    }

    .participants {
      font-weight: normal;
      font-size: 14px;
      line-height: 220%;

      .icon {
        margin-right: 10px;
      }
    }

    .closing-date {
      font-weight: normal;
      font-size: 14px;
      line-height: 220%;

      .date-left {
        color: #737373;
        padding-left: 5px;
      }

      .icon {
        margin-right: 10px;
      }
    }

    .footer {
      min-height: 40px;
      max-height: 40px;
    }
  }

  @media screen and (max-width: 899px) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: 573px) and (max-width: 700px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: 1000px) and (max-width: 1300px) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media screen and (max-width: 430px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (min-width: 1500px) {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.btn__quotePrice {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 220%;
  text-align: right;
  color: #ff2323;
  cursor: pointer;
}

.button__NewDemands {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.button__QuotedDemands {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.button__LeadsDemands {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.demands {
  padding: 5px;

  .demands__footer {
    display: flex;
    align-items: flex;
    justify-content: center;
  }
}

.inlinedetail {
  display: flex;
  justify-content: space-between;
}

.demands__layout {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.leadDetails {
  padding: 20px;

  .leads-body {
    @media only screen and (min-width: 1200px) {
      display: grid;
      grid-column-gap: 30px;
      grid-template-columns: 1fr 2.5fr;
    }
  }

  @media only screen and (min-width: 992px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  .lead__table-card {
    background: #ffffff;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
  }
}
